.main-container {
    display: flex;
    justify-content: space-between;
}

.hand-image {
    margin-top: -0.5rem; /* Adjust this value as needed */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .main-container {
        justify-content: center;
    }
}